---
import PozivnicaLayout from "../../layouts/PozivnicaLayout.astro"

const urlParams = new URLSearchParams(Astro.request.url.split("?")[1])

const mladenka = urlParams.get("mladenka") || ""
const mladozenja = urlParams.get("mladozenja") || ""
const date = urlParams.get("date") || ""

const [year, month, day] = date!.split("-")
const fixedDate = `${day}.${month}.${year}`

let apiResponse = urlParams.get("apiResponse") || ""
if (!apiResponse) {
  apiResponse = ""
}
---

<PozivnicaLayout>
  <section class="wpo-invitation-area section-padding">
    <div class="container-fluid">
      <div class="wpo-invitation-wrap">
        <div class="wpo-invitation-inner-item">
          <div class="wpo-invitation-inner">
            <div class="hero-text">
              <div class="wow fadeInUp" data-wow-duration="1400ms">
                <span>Pozivamo vas na naše vjenčanje</span>
              </div>
              <h2 class="wow fadeInUp" data-wow-duration="1200ms">
                {mladenka} & {mladozenja}
              </h2>
              <p class="wow fadeInUp" data-wow-duration="1600ms">{fixedDate}</p>
            </div>
            <div
              class="middle-couple-pic wow zoomIn"
              data-wow-duration="1000ms"
            >
              <div class="middle-couple-pic-inner">
                <img src="/assets/images/6.jpeg" alt="" />
              </div>
              <div class="shape">
                <img src="/assets/images/slider/left-shape-3.png" alt="" />
              </div>
              <div class="shape2">
                <img src="/assets/images/slider/left-shape-4.png" alt="" />
              </div>
            </div>

            <div class="wpo-event-text">
              <section class="wpo-blog-pg-section section-padding">
                <div class="container">
                  <div class="row">
                    <div class="col col-lg-10 offset-lg-1">
                      <div class="wpo-blog-content">
                        <div class="post format-standard-image">
                          <div class="entry-details">
                            <p>
                              {apiResponse}
                            </p>
                            <p>
                              Više informacija o vjenčanju pronađite na našoj
                              web stranici gdje možete i potvrditi ili otkazati
                              vaš dolazak <a
                                href="/izrada-web-stranica-za-mladence/flora"
                                >{mladenka}&{mladozenja}.com
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-shape">
      <div class="shape s1">
        <img src="/assets/images/slider/ishape-1.svg" alt="" />
      </div>
      <div class="shape s2">
        <img src="/assets/images/slider/ishape-2.svg" alt="" />
      </div>
      <div class="shape s3">
        <img src="/assets/images/slider/ishape-3.svg" alt="" />
      </div>
      <div class="shape s4">
        <img src="/assets/images/slider/ishape-4.svg" alt="" />
      </div>
      <div class="shape s5">
        <img src="/assets/images/slider/ishape-5.svg" alt="" />
      </div>
    </div>
    <div class="right-shape">
      <div class="shape s1">
        <img src="/assets/images/slider/ishape-5.svg" alt="" />
      </div>
      <div class="shape s2">
        <img src="/assets/images/slider/ishape-4.svg" alt="" />
      </div>
      <div class="shape s3">
        <img src="/assets/images/slider/ishape-3.svg" alt="" />
      </div>
      <div class="shape s4">
        <img src="/assets/images/slider/ishape-2.svg" alt="" />
      </div>
      <div class="shape s5">
        <img src="/assets/images/slider/ishape-1.svg" alt="" />
      </div>
    </div>
  </section>
</PozivnicaLayout>
